# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
affine=2.3.0=py_0
appnope=0.1.0=pypi_0
argon2-cffi=20.1.0=pypi_0
attrs=19.3.0=pypi_0
backcall=0.1.0=pypi_0
bleach=3.1.5=pypi_0
boost-cpp=1.72.0=hdf9ef73_0
branca=0.4.0=pypi_0
brewer2mpl=1.4.1=pypi_0
brotlipy=0.7.0=py37h9bfed18_1000
bzip2=1.0.8=haf1e3a3_3
c-ares=1.16.1=haf1e3a3_3
ca-certificates=2020.6.20=hecda079_0
cachetools=4.1.0=pypi_0
cairo=1.16.0=hec6a9b0_1003
cartopy=0.18.0=py37h08e9697_0
certifi=2020.6.20=py37hc8dfbb8_0
cffi=1.14.0=pypi_0
cfitsio=3.470=h389770f_2
chardet=3.0.4=py37hc8dfbb8_1006
click=7.1.2=pyh9f0ad1d_0
click-plugins=1.1.1=py_0
cligj=0.5.0=pypi_0
contextily=1.0.0=py_0
covidcast=0.0.9=pypi_0
cryptography=2.9.2=pypi_0
curl=7.71.1=hcb81553_5
cycler=0.10.0=py_2
decorator=4.4.2=py_0
defusedxml=0.6.0=pypi_0
delphi-epidata=0.0.7=pypi_0
descartes=1.1.0=py_4
entrypoints=0.3=pypi_0
expat=2.2.9=h4a8c4bd_2
fiona=1.8.13.post1=pypi_0
flask=1.1.2=pypi_0
folium=0.10.1=pypi_0
fontconfig=2.13.1=h6b1039f_1001
freetype=2.10.2=h8da9a1a_0
freexl=1.0.5=h0b31af3_1002
fsspec=0.7.3=pypi_0
gcsfs=0.6.1=pypi_0
gdal=3.0.4=py37h08e9697_6
geographiclib=1.50=py_0
geonamescache=1.2.0=pypi_0
geopandas=0.8.1=py_0
geoplot=0.4.1=py_0
geopy=2.0.0=pyh9f0ad1d_0
geos=3.8.1=h4a8c4bd_0
geotiff=1.5.1=hd8796ba_10
gettext=0.19.8.1=h1f1d5ed_1
giflib=5.2.1=h0b31af3_2
glib=2.65.0=hc5f4afa_0
google-api-core=1.17.0=pypi_0
google-auth=1.14.1=pypi_0
google-auth-oauthlib=0.4.1=pypi_0
google-cloud=0.34.0=pypi_0
google-cloud-core=1.3.0=pypi_0
google-cloud-storage=1.28.0=pypi_0
google-resumable-media=0.5.0=pypi_0
googleapis-common-protos=1.51.0=pypi_0
hdf4=4.2.13=h84186c3_1003
hdf5=1.10.5=nompi_h0cbb7df_1103
icu=64.2=h6de7cb9_1
idna=2.9=pypi_0
importlib-metadata=1.6.0=pypi_0
infomap=1.1.2=pypi_0
infostop=0.1.5=pypi_0
iniconfig=1.0.1=pypi_0
ipykernel=5.2.1=pypi_0
ipython=7.13.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.5.1=pypi_0
itsdangerous=1.1.0=pypi_0
jedi=0.17.0=pypi_0
jinja2=2.11.2=pypi_0
joblib=0.15.1=pypi_0
jpeg=9d=h0b31af3_0
json-c=0.13.1=h575e443_1002
jsonschema=3.2.0=pypi_0
jupyter-client=6.1.3=pypi_0
jupyter-console=6.1.0=pypi_0
jupyter-contrib-core=0.3.3=pypi_0
jupyter-contrib-nbextensions=0.5.1=pypi_0
jupyter-core=4.6.3=pypi_0
jupyter-highlight-selected-word=0.2.0=pypi_0
jupyter-latex-envs=1.4.6=pypi_0
jupyter-nbextensions-configurator=0.4.1=pypi_0
kealib=1.4.13=h2324030_0
kiwisolver=1.2.0=py37ha1cc60f_0
krb5=1.17.1=h14dd6a4_2
lcms2=2.11=h174193d_0
libblas=3.8.0=14_openblas
libcblas=3.8.0=14_openblas
libcurl=7.71.1=h9bf37e3_5
libcxx=10.0.0=1
libdap4=3.20.6=h993cace_1
libedit=3.1.20191231=h1de35cc_1
libev=4.33=haf1e3a3_1
libffi=3.3=hb1e8313_2
libgdal=3.0.4=ha92c1e4_6
libgfortran=3.0.1=0
libiconv=1.16=haf1e3a3_0
libkml=1.3.0=h169b8f9_1011
liblapack=3.8.0=14_openblas
libnetcdf=4.7.4=nompi_he461dc0_101
libnghttp2=1.41.0=h8a08a2b_1
libopenblas=0.3.7=hd44dcd8_1
libpng=1.6.37=hb0a8c7a_2
libpq=12.3=h489d428_0
libspatialindex=1.9.3=h4a8c4bd_3
libspatialite=4.3.0a=h658e6c1_1038
libssh2=1.9.0=h8a08a2b_5
libtiff=4.1.0=h2ae36a8_6
libwebp-base=1.1.0=h0b31af3_3
libxml2=2.9.10=h53d96d6_0
llvm-openmp=10.0.1=h28b9765_0
lxml=4.5.0=pypi_0
lz4-c=1.9.2=h4a8c4bd_1
mapclassify=2.3.0=py_0
markupsafe=1.1.1=pypi_0
matplotlib-base=3.2.2=py37hddda452_1
mercantile=1.1.5=pypi_0
mistune=0.8.4=pypi_0
mizani=0.6.0=pypi_0
munch=2.5.0=py_0
nbconvert=5.6.1=pypi_0
nbformat=5.0.6=pypi_0
ncurses=6.2=h0a44026_1
networkx=2.4=pypi_0
notebook=6.0.3=pypi_0
numpy=1.19.2=pypi_0
oauthlib=3.1.0=pypi_0
olefile=0.46=py_0
openjpeg=2.3.1=h254dc36_3
openssl=1.1.1g=haf1e3a3_1
owslib=0.20.0=py_0
packaging=20.3=pypi_0
palettable=3.3.0=pypi_0
pandas=1.0.5=py37h94625e5_0
pandocfilters=1.4.2=pypi_0
parso=0.7.0=pypi_0
patsy=0.5.1=py_0
pcre=8.44=h4a8c4bd_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=7.1.2=pypi_0
pip=20.2.2=py37_0
pixman=0.38.0=h01d97ff_1003
plotnine=0.6.0=pypi_0
pluggy=0.13.1=pypi_0
poppler=0.67.0=h16886b5_8
poppler-data=0.4.9=1
postgresql=12.3=h62ab893_0
proj=7.0.0=h45baca5_5
prometheus-client=0.7.1=pypi_0
prompt-toolkit=3.0.5=pypi_0
protobuf=3.11.3=pypi_0
ptyprocess=0.6.0=pypi_0
py=1.9.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pybind11=2.5.0=pypi_0
pycparser=2.20=pyh9f0ad1d_2
pyepsg=0.4.0=py_0
pygments=2.6.1=pypi_0
pyopenssl=19.1.0=py_1
pyparsing=2.4.7=pyh9f0ad1d_0
pyproj=2.6.1.post1=py37hbd4ead9_0
pyrsistent=0.16.0=pypi_0
pyshp=2.1.0=py_0
pysocks=1.7.1=py37hc8dfbb8_1
pytest=6.1.0=pypi_0
python=3.7.9=h26836e1_0
python-dateutil=2.8.1=py_0
python_abi=3.7=1_cp37m
pytz=2020.1=pyh9f0ad1d_0
pyyaml=5.3.1=py37h9bfed18_0
pyzmq=19.0.0=pypi_0
qtconsole=4.7.3=pypi_0
qtpy=1.9.0=pypi_0
rasterio=1.1.5=py37h9c7205d_0
readline=8.0=h1de35cc_0
requests=2.24.0=pyh9f0ad1d_0
requests-oauthlib=1.3.0=pypi_0
rpy2=3.3.5=pypi_0
rsa=4.0=pypi_0
rtree=0.9.4=py37h8526d28_1
scikit-learn=0.23.1=pypi_0
scipy=1.4.1=pypi_0
seaborn=0.10.1=1
seaborn-base=0.10.1=py_1
send2trash=1.5.0=pypi_0
setuptools=49.6.0=py37_0
shapely=1.7.0=pypi_0
six=1.14.0=pypi_0
snuggs=1.4.7=py_0
sqlite=3.33.0=hffcf06c_0
statsmodels=0.11.1=pypi_0
tbb=2019.9=ha1b3eb9_1
terminado=0.8.3=pypi_0
testpath=0.4.4=pypi_0
threadpoolctl=2.1.0=pypi_0
tiledb=1.7.7=h84aa2a7_3
tk=8.6.10=hb0a8c7a_0
toml=0.10.1=pypi_0
tornado=6.0.4=py37h9bfed18_1
tqdm=4.49.0=pypi_0
traitlets=4.3.3=pypi_0
tzcode=2020a=h0b31af3_0
tzlocal=2.1=pypi_0
urllib3=1.25.9=pypi_0
wcwidth=0.1.9=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.35.1=py_0
widgetsnbextension=3.5.1=pypi_0
xerces-c=3.2.2=h8f8adb3_1004
xlrd=1.2.0=pypi_0
xz=5.2.5=h1de35cc_0
yaml=0.2.5=haf1e3a3_0
zipp=3.1.0=pypi_0
zlib=1.2.11=h1de35cc_3
zstd=1.4.5=h0384e3a_1
